// Navigation Styles here
section.nav-container {
  padding-bottom: 30px;
  margin-top: 40px;
  display: flex;
  border-bottom: 2px dashed @navigation-border;
  @media @mobile {
    flex-direction: column;
    padding: 0;
  }

  h1 {
    width: 100%;
    @media @mobile {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
  nav.nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    @media @mobile {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
}

.nav-bar a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: @shark;
  @media @mobile {
    font-size: 1.7rem;
    margin: 0 25px;
    &:hover {
      color: @eastern-blue;
    }
  }
}
